{% extends 'app/base_auth.html' %}

{% block content %}
<div class="card">
    <h2>{{ page_title }}</h2>
    <div class="table-wrap">
        <table>
            <tbody>
                <tr><th>Shift</th><td>{{ item.shift }}</td></tr>
                <tr><th>Action</th><td>{{ item.action }}</td></tr>
                <tr><th>Probleme</th><td>{{ item.probleme }}</td></tr>
                <tr><th>Pilote</th><td>{{ item.pilote }}</td></tr>
                <tr><th>Date</th><td>{{ item.date|date:'Y-m-d' }}</td></tr>
                <tr><th>Delai</th><td>{{ item.delai|date:'Y-m-d' }}</td></tr>
                <tr><th>Cause</th><td>{{ item.cause }}</td></tr>
                <tr><th>Statut</th><td>{{ item.statut }}</td></tr>
            </tbody>
        </table>
    </div>
    <a href="{% url return_url_name %}" class="secondary-btn">Retour</a>
</div>
{% endblock %}
